header {
    display: flex;
    width: 390px;
    padding: 18px 16px;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: var(--color-grey-100)
}



.butt {
    border: none;
    background-color: inherit;
}

.main_but {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--color-orange);
}

.footer_top nav {
    color: #475467;
    font-weight: 600;
    line-height: 24px;
}

/*.whapper footer_bottom
/*.whapper footer_top
/*.whapper */
.wrapper {
    max-width: 70rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}