:root {
  font-size: 62.5%;
}

h1 {
  color: #1A1E42;
  font-family: Space Grotesk;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 5.6rem;
  /* 116.667% */
  letter-spacing: -0.192rem;
}

h2 {
  color: var(--Dark-Blue, #1A1E42);
  font-family: Montserrat;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h3 {
  color: #FFF;

  font-family: Space Grotesk;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  /* 136.364% */
}

h5 {
  color: var(--Dark-Blue, #1A1E42);
  font-family: Space Grotesk;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.6rem;
  /* 144.444% */
}

strong {
  color: var(--Orange, #F7931A);
 
}

p {
  color: rgba(26, 30, 66, 0.80);

  font-family: Space Grotesk;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
  /* 144.444% */
}

.our_most {
  color: var(--gray-400, #98A2B3);
  font-family: Space Grotesk;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  /* 150% */
}

.why {
  color: #FFF;

  font-family: Space Grotesk;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 5.2rem;
  /* 118.182% */
  letter-spacing: -0.176rem;
}

.we_had {
  color: #D0D5DD;

  font-family: Space Grotesk;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
  /* 144.444% */
}



.base {
  color: var(--gray-300, #D0D5DD);
  font-family: Space Grotesk;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  /* 150% */
}

.About_us {
  color: #1A1E42;

  font-family: Space Grotesk;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 5.2rem;
  /* 118.182% */
  letter-spacing: -0.176rem;
}

.Inter {
  color: var(--gray-300, #D0D5DD);
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
  /* 144.444% */
}

.nums {
  color: #FFF;

  text-align: center;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.grey_space {
  color: var(--gray-500, #667085);
  font-family: Space Grotesk;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
  /* 144.444% */
}



.Bruno {
  color: var(--gray-400, #98A2B3);
  font-family: Space Grotesk;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  /* 150% */
}

.How_to {
  color: var(--Dark-Blue, #1A1E42);
  font-family: Space Grotesk;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  /* 136.364% */
}

.freq {
  color: #1A1E42;

  text-align: center;
  font-family: Space Grotesk;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 5.2rem;
  /* 118.182% */
  letter-spacing: -0.176rem;
}

.can_u {
  color: var(--Dark-Blue, #1A1E42);
  font-family: Space Grotesk;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.2rem;
  /* 145.455% */
}

.start {
  color: var(--Dark-Blue, #1A1E42);
  font-family: Space Grotesk;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 5.2rem;
  /* 118.182% */
  letter-spacing: -0.176rem;
}

.montserrat {
  color: var(--Dark-Blue, #1A1E42);
  font-family: Montserrat;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

li {
  color: var(--gray-600, #475467);
  font-family: Space Grotesk;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  /* 150% */
}