:root {
  font-size: 62.5%;
  --color-dark-blue: #1a1e42;
  --color-dark-blue-faded: rgb(26, 30, 66, 0.80);
  --color-orange: #F7931A;
  --color-white: #fff;
  --color-grey-500: #667085;
  --color-grey-400: #98A2B3;
  --color-grey-300: #D0D5DD;
  --color-grey-100: #F2F4F7;
  --color-green: #00B67A;
  --section-dark-blue: #2A2D51;
  --color-grey-50: #F9FAFB;
}

/* space-grotesk-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/space-grotesk-v16-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* space-grotesk-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/space-grotesk-v16-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* space-grotesk-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/space-grotesk-v16-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/inter-v13-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/inter-v13-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/montserrat-v26-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  box-sizing: border-box;
}

body {
  font-family: Space Grotesk, sans-serif;
  font-size: 1.5rem;
  background-color: var(--color-white);
  align-content: center;
  margin: 0;
  padding: 0;
}

p {
  color: var(--color-dark-blue-faded);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.6rem;
}

h1 {
  color: var(--color-dark-blue);
  font-size: 4.8rem;
  line-height: 5.6rem;
  font-weight: 600;
  /* 116.667% */
  letter-spacing: -0.192rem;
  margin: 0 0 8px 0;
  max-width: 56.6rem;
}

h2 {
  color: var(--color-dark-blue);
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 5.2rem;
  /* 118.182% */
  letter-spacing: -0.176rem;
}

h3 {
  color: var(--color-white);
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  margin: 0;
  /* 136.364% */
}

.how_to {
  color: var(--color-dark-blue);
}

.your_cont {
  color: var(--color-grey-300);
  line-height: 3.2rem;
  font-weight: 400;
}


h5 {
  color: var(--color-dark-blue);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.6rem;
  /* 144.444% */
}

strong {
  color: var(--color-orange);

}

.our_most {
  color: var(--color-grey-400);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  /* 150% */
}

.why {
  color: var(--color-white);
}

.we_had {
  color: var(--color-grey-300);
  font-style: normal;
  font-weight: 400;
  /* 144.444% */
}



.base {
  color: var(--color-grey-300);
  font-size: 1.6rem;
  font-style: normal;
  line-height: 2.4rem;
  /* 150% */
}

.Inter {
  color: var(--color-grey-300);
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
  /* 144.444% */
}

.phone_mail {
  color: var(--color-grey-300);
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.2rem;
  /* 145.455% */

}

.marg-8 {
  margin-top: -8px;
  margin-bottom: 0;
}

ol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  color: var(--color-white);
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

ol li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
}

blockquote {
  color: var(--color-grey-500);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
  /* 144.444% */
}

figcaption {
  color: var(--color-grey-400);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  /* 150% */
}

.freq {
  text-align: center;
}

summary {
  color: var(--color-dark-Blue);
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.2rem;
  /* 145.455% */
}

.montserrat {
  color: var(--color-dark-Blue);
  font-family: Montserrat;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

li {
  color: var(--color-grey-500);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  /* 150% */
}

#four_nine {
  color: var(--Dark-Blue, #1A1E42);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0.5rem;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*1 section layout */
.layout {
  justify-content: space-around;
}

.layout_2 {
  display: flex;
  justify-content: space-around;
  background: var(--color-grey-50);
}

/*2 sectinon*/
.tool_cards {
  justify-content: space-around;
  background-color: var(--color-dark-blue);
  margin: 0 auto;
  overflow: hidden;

}

.second_list {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

.first_but {
  max-width: 33.4rem;
  display: flex;
  padding: 1rem 2.4rem;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 0.4rem;
  background: var(--color-orange);
  margin: 3.2rem 1rem;
  margin-right: auto;
}

.my_butt {
  color: var(--color-white);
  font-family: Space Grotesk;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem;
}

/*section 6*/
.Testimonials {
  background-color: var(--color-grey-100);

}


/*3 section 
.About_us */
/*4 section */
.the_proccess {
  background-color: var(--color-dark-blue);
}

/*5 section our_promise */

/*7 section Rewallet_blog */
/*8 section Frequently */
/*9 section */
html {
  margin-left: 0;
}

.wrapper {
  padding: 4rem 1.5rem;
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper_max {
  padding: 6rem 1.6rem;
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper_footer {
  padding: 3.2rem 1.6rem;
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper_header {
  display: flex;
  padding: 1.8rem 1.6rem;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-between;

}

.grey_back {
  background-color: var(--color-grey-50);
}

.bigy_wallet {
  width: 100%;
  display: flex;
  max-width: 72rem;
  max-height: 72rem;
  flex-shrink: 0;
}

.bigy_wallet_closed {
  width: 100%;
  display: flex;
  max-width: 62.6rem;
  max-height: 63.6rem;
  flex-shrink: 0;
}

header {
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: white;
  padding: 0;
}

footer {
  background-color: var(--color-grey-100);
  position: sticky;
  top: 1100px;
}
.footy_wall {
  margin-bottom: 2.4rem;
}


.butt {
  border: none;
  background-color: inherit;
}

.main_but {
  max-width: 33.4rem;
  display: flex;
  padding: 1rem 2.4rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  border-radius: 0.4rem;
  background: var(--color-orange);
  margin: 3.2rem 1rem;
  margin-left: auto;
  margin-right: auto;
}

.footer_bottom {
  display: flex;
  padding-top: 3.2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.logo_german {
  display: flex;
  align-items: center;
  gap: 4rem;
}

/*.whapper footer_top
/*.whapper */
/*.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  padding: 1.8rem 1.6rem;
  position: relative;
}*/


.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  max-width: 54.2rem;
}

.scope {
  max-width: 17rem;
}

.scope_2 {
  max-width: 17rem;
  min-width: 16rem;
}

.element {
  list-style: none;
  display: flex;
  width: 17rem;
  align-items: center;
  gap: 0.8rem;
}

.toolkit_section {
  min-height: 26.2rem;
  list-style: none;
  background-color: var(--section-dark-blue);
  border-radius: 0.5rem;
  padding: 3.2rem;
  max-width: 38rem;
  margin: 0 auto;
}

.we_fixed {
  max-width: 70rem;
}

.toolkit_area {
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 130rem;

}

toolkit_area li {
  margin-bottom: 2rem;
}

.why_not {
  margin: 16px 0 12px 0;

}

.line {
  width: 4.8rem;
  height: 0.2rem;
  background-color: var(--color-orange)
}

.line_2 {
  width: 4.8rem;
  height: 0.2rem;
  background-color: var(--color-orange);
  margin-left: auto;
  margin-right: auto;
}

.paddon {
  margin-top: 1.2rem;
  margin-bottom: 0;

}

.margin_zero {
  margin: 0 auto;
}

.margin_0 {
  margin: 0;
}

.sixteen {
  margin: 0;
  max-width: 56rem;
}

.green_but {
  max-width: 33.4rem;
  display: flex;
  padding: 1rem 2.4rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  border-radius: 0.4rem;
  background: var(--color-green);
  margin: 3.2rem 1rem;
}

.testemon {
  text-align: center;
}

.comments {
  display: flex;
  max-width: 70rem;
  padding: 2.4rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  align-self: stretch;
  border-radius: 8px;
  background: #FFF;

  /* sh small */
  box-shadow: 0px 1.2rem 1.6rem -0.4rem rgba(16, 24, 40, 0.05);
}

.get_in {
  padding: 3.2rem 2.4rem;
  border-radius: 0.8rem;
  background: var(--color-dark-blue);
}

.mail_gap {
  margin: 2.4rem 0 2.4rem 0;
}

/*.gappi {
  line-gap-override: 10px;
} */

.one_and_half {
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
}

.gall_set {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  align-self: stretch;
}

.gall {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
  align-self: stretch;
}

.start_now {
  margin-top: 1.2rem;
  margin-bottom: 1.6rem;
}

.margin_32bottom {
  margin-bottom: 3.2rem;
}

.com_trading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.6rem;
}

.About_ass {
  margin: 1.2rem 0 3.2rem 0;
}

.positivity {
  margin-bottom: 1.6rem
}

.reading {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.our_down {
  margin-top: 1.2rem;
  margin-bottom: 1.6rem;
}

.num_conteiner {
  max-width: 4.6rem;
  display: flex;
  padding: 1.2rem 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.8rem;
  background: var(--section-dark-blue);
  color: var(--color-white);
  text-align: center;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Just_fill {
  margin-bottom: 4rem;
  margin-top: 0;
}

.footer_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.6rem;
  align-self: stretch;
}

.gold_stars {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.margin_star {
  margin-right: -0.5rem;
}

.imprint {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}